<section class="footer">
    <div class="box-container">
        <div class="box">
            <h3> FastFood <i class="fas fa-utensils"></i> </h3>
            <p>Đem đến cho bạn trải nghiệm tuyệt vời nhất!</p>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
            </div>
        </div>
        <div class="box" id="contact">
            <h3>Liên hệ</h3>
            <a href="#" class="links"> <i class="fas fa-phone"></i> +123-456-7890 </a>
            <a href="#" class="links"> <i class="fas fa-phone"></i> +111-222-3333 </a>
            <a href="#" class="links"> <i class="fas fa-envelope"></i> 1952xxxx@gmail.com </a>
            <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> Microsoft Teams </a>
        </div>
        <div class="box">
            <h3>Di chuyển đến</h3>
            <a href="#" class="links"> <i class="fas fa-arrow-right"></i> Trang chủ </a>
        </div>
        <div class="box">
            <h3>Thông báo</h3>
            <p>Đăng ký nhận thông báo mới nhất từ chúng tôi</p>
            <input type="email" placeholder="your email" class="email">
            <input type="submit" value="Gửi" class="btn">
            <img src="/img/payment.png" class="payment-img" alt="">
        </div>
    </div>
    <div class="credit"> created by <span> Nhóm 2 </span> | Welcome </div>
</section>