<section class="footer">
  <div class="box-container">
    <div class="box">
      <h3><i class="fas fa-utensils"></i> Doreen</h3>
      <p>
        Doreen được thành lập vào tháng 8 năm 2021. Là một thương hiệu mới hướng
        đến cho khách hàng những trải nghiệm tuyệt vời nhất. Doreen luôn mong
        muốn mang đến cho khách hàng những món ăn với chất lượng tốt nhất. Bên
        cạnh đó, ở Doreen còn có các combo ưu đãi cùng những voucher vô cùng hấp
        dẫn mà không cần lo về giá cả. Còn chần chờ gì mà không đặt ngay nào!!!
      </p>
    </div>
    <div class="box" id="contact">
      <h3>Liên hệ</h3>
      <a href="tel:1234567890" class="links">
        <i class="fas fa-phone"></i> +123-456-7890
      </a>
      <a href="tel:1112223333" class="links">
        <i class="fas fa-phone"></i> +111-222-3333
      </a>
      <a href="mailto:19520440@gmail.com" class="links">
        <i class="fas fa-envelope"></i> doreen@gmail.com
      </a>
      <a
        href="https://www.google.com/maps/place/University+of+Information+Technology+-+VNUHCM/@10.870135,106.803097,16z/data=!4m5!3m4!1s0x0:0xafa66f9c8be3c91!8m2!3d10.8700089!4d106.8030541?hl=en"
        target="_blank"
        class="links"
      >
        <i class="fas fa-map-marker-alt"></i> Khu phố 6, phường Linh Trung, TP.
        Thủ Đức, TP. Hồ Chí Minh
      </a>
      <div class="share">
        <a href="https://www.facebook.com/" class="fab fa-facebook-f"></a>
        <a href="https://twitter.com/?lang=en" class="fab fa-twitter"></a>
        <a href="https://www.instagram.com/" class="fab fa-instagram"></a>
      </div>
    </div>

    <div class="box">
      <h3>Di chuyển đến</h3>
      <a href="https://seoie204.me/" class="links">
        <i class="fas fa-arrow-right"></i> Trang chủ
      </a>
      <a href="https://seoie204.me/products" class="links">
        <i class="fas fa-arrow-right"></i> Đồ ăn
      </a>
      <a
        href="https://seoie204.me/"
        class="links scroll"
        data-section="popular"
      >
        <i class="fas fa-arrow-right"></i> Phổ biến
      </a>
      <a
        href="https://seoie204.me/"
        class="links scroll"
        data-section="rate-us"
      >
        <i class="fas fa-arrow-right"></i> Đánh giá
      </a>
      <a
        href="https://seoie204.me/"
        class="links scroll"
        data-section="about-us"
      >
        <i class="fas fa-arrow-right"></i> Về chúng tôi</a
      >
    </div>
    <!--
            <div class="box">
                <h3>Di chuyển đến</h3>
                <a href="https://seoie204.me/" class="links"> <i class="fas fa-arrow-right"></i> Trang chủ </a>
                <a href="https://seoie204.me/products" class="links"> <i class="fas fa-arrow-right"></i> Đồ ăn </a>
                <a href="https://seoie204.me/" class="links scroll" data-section = "popular"> <i class="fas fa-arrow-right"></i> Phổ biến </a>
                <a href="https://seoie204.me/" class="links scroll" data-section="rate-us"> <i class="fas fa-arrow-right"></i> Đánh giá </a>
                <a href="https://seoie204.me/" class="links scroll" data-section="about-us"> <i class="fas fa-arrow-right"></i> Về chúng tôi</a>
            </div>
                <!--
                <div class="box">
                <h3>Thông báo</h3>
                <p>Đăng ký nhận thông báo mới nhất từ chúng tôi</p>
                <input type="email" placeholder="your email" class="email">
                <input type="submit" value="Gửi" class="btn">
                <img src="/img/payment.png" class="payment-img" alt="">
                </div>
                -->
    <div class="box">
      <h3>Địa chỉ của chúng tôi</h3>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.2312403776427!2d106.80086541462336!3d10.870008892258081!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527587e9ad5bf%3A0xafa66f9c8be3c91!2sUniversity%20of%20Information%20Technology%20-%20VNUHCM!5e0!3m2!1sen!2s!4v1647761234260!5m2!1sen!2s"
        width="350"
        height="220"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      >
      </iframe>
    </div>
  </div>
  <div class="credit">created by <span> Doreen </span> | Welcome</div>
</section>
