@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    margin:0; padding:0;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background:url(/img/home-bg.jpg) no-repeat;
}
h1{
    color: #e74c3c;
    background-color: #ecf0f1;
    font-style: italic;
    font-size: 4rem;
    padding: 7px 30px;
    margin-bottom: 4rem;
}
h2{
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
}
h2 span{
    background-color: #e74c3c;
    color:#fff;
    display: inline-block;
    padding:.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
    margin-bottom: 2rem;
}
section{
    padding:2rem 9%;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}
table, th, td {  
    border: 1px solid black;
    font-size: 1.5rem;
    height: 35px;
}
th{
    text-transform: uppercase;
    font-size: 1.8rem;
    background-color: #eb4d4b;
    color: #fff;
}
td{
    text-align: center;
    width: 20px;
}
.product-table button{
    width: 50px;
}
.button .update{
    background-color: #27ae60;
    color: white;
}
.button .delete{
    background-color: #e74c3c;
    color: white;
}
p{
    font-size: 1.5rem;
}
.add{
    font-size: 1.5rem;
    background-color: #2980b9;
    color: white;
    margin-top: 1rem;
    cursor: pointer;
}
a {
    text-decoration: none;
}