@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
:root{
    --red:#f3312a;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 10px 15px rgba(0,0,0,.1);
    --border: 10px solid rgba(0,0,0,.1);
    --outline:15px solid rgba(0,0,0,.1);
    --outline-hover:18px solid var(--black);
}
*::selection{
    background:var(--red);
    color:#fff;
  }

*{
    font-family: 'Open Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background:url(../img/home-bg.jpg) no-repeat;
}

section{
    padding:2rem 9%;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border:.2rem solid var(--black);
    color:var(--black);
    cursor: pointer;
    background: none;
    text-align: center;
}
.btn:hover{
    background: var(--red);
    color:#fff;
}
/*Sau khi dang nhap*/
.header .action{
    position: sticky;
    height: 4.5rem;
    width: 4.5rem;
    cursor: pointer;
    text-align: center;
}
.header .action .profile{
    position: relative;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.header .action .profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.action .list {
    position: absolute;
    top: 120px;
    right: -20px;
    padding: 10px 20px;
    background: rgb(250, 250, 250);
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    box-shadow: 10px black;
}
.action .list.active{
    top: 80px;
    visibility: visible;
    opacity: 1;
}
.action .list::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: rgb(250, 250, 250);
    transform: rotate(45deg);
}
.action .list h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
    font-weight: 500;
    font-size: 25px;
    color: #555;
    line-height: 1.2em;
}
.action .list h3 span{
    font-size: 14px;
    color: #cecece;
    font-weight: 400;
}
.action .list ul li{
    list-style: none;
    font-size: 15px;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
}
.action .list ul li img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}
.action .list ul li:hover img{
    opacity: 1;
}
.action .list ul li a{
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}
.action .list ul li:hover a{
    color: var(--red);
}
/**/
.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    background:#fff;
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--black);
    flex-grow: 2;
}

.header .logo i{
    color:var(--red);
}
.header .navbar{
    flex-grow: 2;
}
.header .navbar a{
    font-size: 1.7rem;
    margin:0 1rem;
    color:var(--black);
}
.header .navbar a:hover{
    color:var(--red);
}
#menu-bar{
    font-size: 3rem;
    cursor: pointer;
    color:#666;
    border:.1rem solid #666;
    border-radius: .3rem;
    padding:.5rem 1.5rem;
    display: none;
}
.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover{
    background: var(--red);
    color:#fff;
}
#menu-btn{
    display: none;
}
/*Cart */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
  
.modal-content {
    margin: 0 auto;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;

}

.modal-body {
    padding: 1rem;
    font-size: 15px;
}

.modal-footer {
    display: flex;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
}

.modal-footer>:not(:first-child) {
    margin-left: .25rem;
}
.modal-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaaaaa;
    padding: 1rem;
}

h5.modal-title {
    font-size: 2rem;
}

.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.close:hover,.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 0.1em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}
.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 25%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 70px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    width: 16%;
    height: 45px;
    border-radius: .2em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-left: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.3em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}
/* End Cart */
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-size: cover;
    background-position: center;
}
.col-2 img{
    width: 100%;
    padding: 15px;
    animation:float 3s linear infinite;
  }
@keyframes float{
    0%, 100%{
      transform: translateY(15px);
    }
    50%{
      transform: translateY(30px);
    }
  }
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h3{
    font-size: 40px;
    line-height: 50px;
    margin: 25px 0;
    color:var(--black);
    font-size: 50px;
}
.col-2 h3 span{
    color:var(--red);
}
.col-2 p{
    color:var(--light-color);
    font-size: 16px;
    padding:15px 0;
    line-height: 1.8;
}
.row{
    margin-top: 70px;
}
/*speciality*/
.heading{
    text-align: center;
    padding:2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color:var(--black);
}

.heading span{
    background: var(--red);
    color:#fff;
    display: inline-block;
    padding:.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}
.speciality .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    height: 400px;
}
.speciality .box-container .box{
    flex:1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border: .1 rem solid rgba(0,0,0,.3);
    cursor: pointer;
    border-radius: .5rem;
}
.speciality .box-container .box .image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top:-100%;
    left: 0;
}
.speciality .box-container .box .content{
    text-align: center;
    background: #fff;
    padding: 2rem;
}
.speciality .box-container .box .content img{
    margin: 1.5rem 0;
}
.speciality .box-container .box .content h3{
    font-size: 2.5rem;
    color: #333;
}
.speciality .box-container .box:hover .image{
    top: 0;

}
.speciality .box-container .box:hover .content{
    transform: translateY(100%);
}

/*popular food*/
.popular .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}
  
.popular .box-container .box{
    padding:2rem;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.3);
    border-radius: .5rem;
    text-align: center;
    flex:1 1 30rem;
    position: relative;
}
.popular .box-container .box img{
    height:25rem;
    object-fit: cover;
    width:100%;
    border-radius: .5rem;
}
  
.popular .box-container .box .price{
    position: absolute;
    top:3rem; left:3rem;
    background:var(--red);
    color:#fff;
    font-size: 2rem;
    padding:.5rem 1rem;
    border-radius: .5rem;
}
  
.popular .box-container .box h3{
    color: #333;
    font-size: 2rem;
    padding-top: 1rem;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*rate*/
.sliderHome {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
}
.sliderHome .slideHome {
    position: absolute;
    width: 82%;
    height: 400px;
    clip-path: circle(0% at 50% 50%);
}
.sliderHome .slideHome.active {
    clip-path: circle(80% at 47% 49%);
    transition: 1.5s;
}
.sliderHome .slideHome .background{
    width: 100%;
    height: 400px;
    position: absolute;
    border-radius: 5PX;
}
.content{
    width: 80%;
    position: absolute;
    float: right;
    top: 13%;
    left: 10%;
    
}
.avatar{
    border-radius: 50%;
    float: left;
}
.text{
    text-align: center;
    margin: 2rem 0 0 0;
}
.content .stars i{
    color: gold;
    font-size: 20px;
    padding: 1rem .1rem;
    margin-bottom: 2rem;
}
.content h2{
    font-size: 4rem;
    color: #3B3B98;
}
.content p{
    font-size: 2.5rem;
    font-weight: bold;
    color: #cc8e35;
    text-transform: none;
}
.sliderHome .navigation {
    height: 400px;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.sliderHome:hover .navigation {
    opacity: 0.9;
}

.prev-btnHome, .next-btnHome {
    font-size: 2em;
    color: rgba(0, 0, 0, 0.733);
    background: rgba(255, 255, 255, 0.808);
    opacity: 0.8;
    padding: 10px;
    cursor: pointer;
}

.prev-btnHome {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.next-btnHome {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.navigation-visibility {
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.navigation-visibility .slide-icon {
    background: #ecf0f1;
    width: 15px;
    height: 15px;
    transform: translateY(-50px);
    margin: 0 6px;
    border-radius: 50%;
    box-shadow: 0 5px 25px rgb(1 1 1/ 20%);
    opacity: 0.8;
}

.navigation-visibility .slide-icon.active {
    background: #95a5a6;
    opacity: 0.8;
}

/*about-us*/
.about-us{
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.about-us img{
    width: 95%;
    height: 400px;
    border-radius: 5px;
    opacity: 0.9;
}

.text-abt-us h2{
    font-size: 3rem;
    color: #e74c3c;
}
.text-abt-us strong{
    color: #e74c3c;
    opacity: 0.9;
    text-transform: none;
}
.text-abt-us p{
    line-height: 1.7;
    font-size: 1.5rem;
    text-transform: none;
    color: #666;
}
  
/*.popular .box-container .box .stars i{
    color:gold;
    font-size: 1.7rem;
    padding:1rem .1rem;
}*/

/*steps*/

.steps{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding:1rem;
}
.steps .box{
    flex:1 1 25rem;
    padding:1rem;
    text-align: center;
} 
.steps .box img{
    border-radius: 50%;
    border:1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}  
.steps .box h3{
    font-size: 3rem;
    color:#333;
    padding:1rem;
}
/*footer*/

.footer{
    background: var(--black);
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color: white;
    padding:1rem 0;
}

.footer .box-container .box h3 i{
    color:var(--red);
}

.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box .links i{
    color:var(--red);
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
    padding-right: 2rem;
    color: white;
}


.footer .box-container .box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color:white;
    padding:1rem 0;
}

.footer .box-container .box .share a{
    height:4rem;
    width:4rem;
    line-height:4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: var(--black);
    margin-right: .2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover{
    background: var(--red);
    color: #fff;
}

.footer .box-container .box .email{
    width: 100%;
    margin:.7rem 0;
    padding:1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.footer .box-container .box .btn{
    color: white;
    border: 1px solid #fff;
}

.footer .box-container .box .payment-img{
    margin-top: 2rem;
    height: 3rem;
    display: block;
}

.footer .credit{
    text-align: center;
    margin-top: 2rem;
    padding:1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: white;
    border-top: var(--border);
}
.footer .credit span{
    color:var(--red);
}
#scroll-top{
    position: fixed;
    top:-120%;
    right:2rem;
    padding:.5rem 1.5rem;
    font-size: 4rem;
    background:var(--red);
    color:#fff;
    border-radius: .5rem;
    transition: 1s linear;
    z-index: 1000;
}
  
#scroll-top.active{
    top:calc(100% - 12rem)
}
  
.loader-container{
    position: fixed;
    top:0; left:0;
    z-index: 10000;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width:100%;
}
  
.loader-container.fade-out{
    top:-120%;
}
  /* media queries  */
  
@media(max-width:991px){
  
    html{
      font-size: 55%;
    }
  
    header{
      padding:2rem;
    }
  
    section{
      padding:2rem;
    }
    .slider .slide{
        width: 96%;
    }  
}
  
@media(max-width:768px){
  
    #menu-bar{
      display: initial;
    }
  
    header .navbar{
      position: absolute;
      top:100%; left: 0; right:0;
      background: #f7f7f7;
      border-top: .1rem solid rgba(0,0,0,.1);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
  
    header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  
    header .navbar a{
      margin: 1.5rem;
      padding:1.5rem;
      display: block;
      border:.2rem solid rgba(0,0,0,.1);
      border-left:.5rem solid var(--red);
      background:#fff;
    }
    .slider .slide{
        width: 96%;
    }    
    .content p{
        font-size: 2rem;
    }
    .avatar{
        width: 250px;
    }
  
}
  
@media(max-width:450px){
  
    html{
      font-size: 50%;
    }
  
    .order .row form .inputBox input{
      width:100%;
    }
    .slider .slide{
        width: 95%;
    }
    .content h2{
        font-size: 2.5rem;
    }
    .content .stars{
        font-size: 15px;
    } 
    .content p{
        font-size: 1.8rem;
    }
    .avatar{
        width: 150px;
    } 
  
}
.hidden  {
    display: none;
};
form {
    display:block;
}