input{
    text-transform: none;
}
.account-page{
    padding: 5%;
}
.container{
    max-width: 100%;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 70px;
    text-align: center;
}
.col-2 img{
    width: 100%;
    animation:float 3s linear infinite;
  }
@keyframes float{
    0%, 100%{
      transform: translateY(15px);
    }
    50%{
      transform: translateY(30px);
    }
}
.col-2{
    
}
.form-container{
    background: #ffff;
    width: 90%;
    height: 550px;
    position: relative;
    text-align: center;
    padding: 5% 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,.1);
    overflow: auto;
    overflow-x: hidden;
}
.form-container span{
    font-weight: bold;
    text-align: left 1000px;
    color: var(--black);
    cursor: pointer;
    width: 100px;
    display: inline-block;
    font-size: 20px;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 50%;
    padding: 0 10px;
    position: absolute;
    top: 2%;
    transition: transform 1s;
}
form input{
    width: 180%;
    height: 50px;
    border: none;
    border-radius: 2px;
    border-bottom: 1px solid var(--black)!important;
}
form .btn{
    width: 100%;
    border: 1px solid var(--black);
    cursor: pointer;
    margin-top: 15px;
    margin-left: 40%;
    margin-bottom: 5%;
}
form .btn:focus{
    outline: none;
}
#Loginform{
    left: -85%;
    top: 170px;
}
#Regform{
    left: 7%;
    top: 100px;
}
form a{
    font-size: 16px;
}
#quenkm {
    border: none;
}
#quenkm:hover {
    background-color: #fff;
}
#Indicator{
    width: 100px;
    border: none;
    background: var(--red);
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}
.alert {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9999;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1.6rem 15rem;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  }
  .alert--success {
    background-color: #20bf6b;
  }
  .alert--failed {
    background-color: #eb4d4b;
  }
  @media(max-width:666px) {
      
  }
