.order .heading {
  margin-top: 90px;
}
.order .heading span {
  text-align: center;
  font-size: 5rem;
  color: var(--black);
}
.order .row {
  padding: 2rem;
  box-shadow: 0 5rem 1rem rgba(0, 0, 0, 1);
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  border-radius: 5rem;
  width: 100%;
}
.order .row form {
  max-width: 90rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  background: #fff;
  margin: 0 auto;
  padding: 1.5rem;
}
.order .row form .inputBox {
  display: grid;
  justify-content: space-between;
  flex-wrap: wrap;
}
.order .row form .inputBox .input {
  width: 100%;
}

.order form .inputBox span {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: var(--light-color);
}
.order .row form .inputBox .input input,
.order .row form .inputBox .input textarea {
  background: #eee;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
  margin-bottom: 1rem;
  width: 100%;
}
.order .row form .inputBox .input textarea {
  resize: none;
  height: 10rem;
  width: 45rem;
}

.order .row .form .inputBox input {
  width: 100%;
}
.cart-item {
  width: 140px;
}

.cart-price {
  width: 75px;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 105px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 20px;
  padding-bottom: 10px;
  margin-top: 10px;
}
.modal .cart-item {
  width: 100%;
}
.open {
  display: block;
}
@media (max-width: 450px) {
  .order .row form {
    width: 380px;
  }

  .modal-body {
    width: 90%;
  }
}
