<title> Doreen | Thành viên </title>
<%- layout('./layout/template') %>
<link rel="stylesheet" type="text/css" href="/css/login.css">
<link rel="canonical" href="https://seoie204.me/signup">
<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="img/home-img.png" width="100%">
            </div>
            <div class="col-2">
                <div class="form-container">
                    <div class="form-btn">
                        <span onclick="login()" style="text-align: left;">Login</span>
                        <span onclick="register()">Register</span>
                        <hr id="Indicator">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/login.js"></script>