
<title> Doreen | Blog </title>
<link rel="canonical" href="https://seoie204.me/blog" >
<meta name=”robots” content="noindex, nofollow">
<link rel="stylesheet" type="text/css" href="/css/blog.css" />
</head>
<body>
<%- layout('./layout/template') %>
<section>
  <div class="blog-header">
      <div class = "blog-banner">
          <div class = "blog-container">
            <h1 class = "blog-banner-title">
              <span>FastFood</span> Review Blog          
            </h1>
              <p>Chia sẻ đến mọi người những món ăn ngon</p>          
          </div>
      </div>
  </div>

<div class = "video" id = "video">
    <div class = "container">
      <div class = "title">
        <h2>Video Gần Đây</h2>
        <p>Giúp bạn tạo ra những món ăn ngon</p>
      </div>

      <div class = "video-content">
        <!-- item -->
        <div class = "video-item">
          <div class = "video-img">
            <iframe width="100%" height="300" src="https://www.youtube.com/embed/Gxv8LfNDex8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            
          </div>
          <div class = "video-title">
            <a href = "#">CÁCH LÀM BÚN THỊT NƯỚNG</a>
          </div>
        </div>
        <!-- end of item -->
        <!-- item -->
        <div class = "video-item">
          <div class = "video-img">
            <iframe width="100%" height="300" src="https://www.youtube.com/embed/u1fpLRMzK4s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            
          </div>
          <div class = "video-title">
            <a href = "#">CÁCH LÀM KHOAI TÂY BỎ LÒ SỐT PHÔ MAI</a>
          </div>
        </div>
        <!-- end of item -->
        <!-- item -->
        <div class = "video-item">
          <div class = "video-img">
            <iframe width="100%" height="300" src="https://www.youtube.com/embed/S6ECBp-YlFw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            
          </div>
          <div class = "video-title">
            <a href = "#">CÁCH LÀM GỎI GÀ NGŨ SẮC</a>
          </div>
        </div>
        <!-- end of item -->
      </div>
    </div>
  </div>
  <!-- end of design -->


  <!-- blog -->
  <div class = "blog" id = "blog">
    <div class = "container">
      <div class = "title">
        <h2>Bài Viết Gần Đây</h2>
        <p>Nơi chia sẻ những món ăn ngon</p>
      </div>
      <div class = "blog-content">
        <!-- item -->
        <div class = "blog-item">
          <div class = "blog-img">
            <img src = "img/p-2.jpg" alt = "">
            <span><i class = "far fa-heart"></i></span>
          </div>
          <div class = "blog-text">
            <span>20 January, 2020</span>
            <h2>CÁCH LÀM GÀ RÁN SỐT CAY</h2>
            <p>Gà rán sốt cay là một trong những món ăn mà Doreen muốn giới thiệu đến các bạn nhất. Là một món gà mà khi ăn có thể cảm nhận...</p>
            <a class="btn" href = "/blog/cach_lam_ga_ran_sot_cay">Đọc thêm</a>
          </div>
        </div>
        <!-- end of item -->
        <!-- item -->
        <div class = "blog-item">
          <div class = "blog-img">
            <img src = "/img/g-1.jpg" alt = "">
            <span><i class = "far fa-heart"></i></span>
          </div>
          <div class = "blog-text">
            <span>20 January, 2020</span>
            <h2>CÁCH LÀM HAMBURGER BÒ PHÔ MAI</h2>
            <p>Hamburger là món ăn nhanh được giới trẻ rất yêu thích, là một loại bánh mì kẹp với phần nhân là rau kẹp thịt bò cùng với nhiều loại nhân khác như phô mai, cà chua, thịt xông khói,… </p>
            <a class="btn" href = "/blog/cach_lam_hamburger_bo_pho_mai">Đọc thêm</a>
          </div>
        </div>
        <!-- end of item -->
        <!-- item -->
        <div class = "blog-item">
          <div class = "blog-img">
            <img src = "/img/p-5.jpg" alt = "">
            <span><i class = "far fa-heart"></i></span>
          </div>
          <div class = "blog-text">
            <span>20 January, 2020</span>
            <h2>SODA BLUE OCEAN VỚI MÀU XANH TƯƠI MÁT GIẢI KHÁT CHO MUA HÈ OI BỨC</h2>
            <p>Soda được bắt nguồn từ Mỹ vào thế kỉ 18 nhưng lại khá nổi tiếng ở Ý. Là loại nước khoáng có gas không cồn, gồm các thành phần chính như nước, hương liệu(syrup, nước trái cây,…). </p>
            <a class="btn" href = "/blog/soda_blue_ocean_voi_mau_xanh_tuoi_mat_giai_khat_cho_mua_he_oi_buc">Đọc thêm</a>
          </div>
        </div>
        <!-- end of item -->
        <!-- item -->
        <div class = "blog-item">
          <div class = "blog-img">
            <img src = "https://i1.wp.com/www.esheepkitchen.com/wp-content/uploads/2021/08/51286796436_a26b85c301_k.jpg?resize=585%2C390&ssl=1" alt = "">
            <span><i class = "far fa-heart"></i></span>
          </div>
          <div class = "blog-text">
            <span>20 January, 2020</span>
            <h2>CÁCH LÀM TRÀ SỮA BÍ ĐAO THANH NHIỆT NGON ĐỈNH KAO DỰ SẼ HOT TREND HÈ NÀY</h2>
            <p>CÁCH LÀM TRÀ SỮA BÍ ĐAO THANH NHIỆT NGON ĐỈNH KAO DỰ SẼ HOT TREND HÈ NÀY /Topping trân châu 3Q đường đen + thạch đen sẽ là the best combo nhé/ Mê trà sữa, cần một thức uống mát…</p>
            <a class="btn" href = "#">Đọc thêm</a>
          </div>
        </div>
        <!-- end of item -->
        <!-- item -->
        <div class = "blog-item">
          <div class = "blog-img">
            <img src = "https://i1.wp.com/www.esheepkitchen.com/wp-content/uploads/2021/12/268270833_462300978598910_394347603357455895_n.jpg?resize=585%2C390&ssl=1" alt = "">
            <span><i class = "far fa-heart"></i></span>
          </div>
          <div class = "blog-text">
            <span>20 January, 2020</span>
            <h2>TIỆC TRÀ GIÁNG SINH TRẮNG LUNG LINH CHINH PHỤC CÁCH LÀM BÁNH MACARON-HOÀN-HẢO VỊ TRÀ BÁ TƯỚC</h2>
            <p>TIỆC TRÀ GIÁNG SINH TRẮNG LUNG LINH CHINH PHỤC CÁCH LÀM BÁNH MACARON-HOÀN-HẢO VỊ TRÀ BÁ TƯỚC Vị trà bá tước thực sự là vị bánh maracon thượng hạng và hoàn hảo để đón một Giáng sinh siêu lung linh…</p>
            <a class="btn" href = "#">Đọc thêm</a>
          </div>
        </div>
        <!-- end of item -->
        <!-- item -->
        <div class = "blog-item">
          <div class = "blog-img">
            <img src = "https://i1.wp.com/www.esheepkitchen.com/wp-content/uploads/2021/09/242296130_407064584122550_6841722089028900184_n.jpeg?resize=585%2C390&ssl=1" alt = "">
            <span><i class = "far fa-heart"></i></span>
          </div>
          <div class = "blog-text">
            <span>20 January, 2020</span>
            <h2>CÁCH LÀM “ROSÉ ROLL CAKE” – BÁNH CUỘN KEM PHOMAI BẰNG… CHẢO</h2>
            <p>CÁCH LÀM “ROSÉ ROLL CAKE” – BÁNH CUỘN KEM PHOMAI BẰNG… CHẢO Một ổ bánh cuộn hồng rực xinh xắn mềm mại với lớp kem phomai mát lịm thơm ngậy là món quà xinh xắn có khả năng chinh phục…</p>
            <a class="btn" href = "#">Đọc thêm</a>
          </div>
        </div>
        <!-- end of item -->
      </div>
    </div>
  </div>
  <!-- end of blog -->

  <!-- about -->
  <div class = "about" id = "about">
    <div class = "container">
      <div class = "about-content">
        <div>
          <img src = "/img/about-blog.jpg" alt = "">
        </div>
        <div class = "about-text">
          <div class = "title">
            <h2>Doreen Blog</h2>
            <p>Đem đến những trải nghiệm tốt nhất</p>
          </div>
          <p>Doreen sẽ luôn luôn lắng nghe những góp ý và chia sẻ từ khách hàng. </p>
          <p>Ghé thăm không gian cửa hàng: Khu phố 6, phường Linh Trung, TP. Thủ Đức, TP. Hồ Chí Minh</p>
        </div>
      </div>
    </div>
  </div>
</section>

