<%- layout('./layout/template') %>
<link rel="stylesheet" type="text/css" href="/css/blog.css" />
<section>
  <div class="blog-header">
    <div class="blog-banner">
      <div class="blog-container">
        <h1 class="blog-banner-title"><span>FastFood</span> Review Blog</h1>
        <p>Chia sẻ đến mọi người những món ăn ngon</p>
      </div>
    </div>
  </div>

  <div class="video" id="video">
    <div class="container">
      <div class="title">
        <h2>Video Gần Đây</h2>
        <p>Giúp bạn tạo ra những món ăn ngon</p>
      </div>

      <div class="video-content">
        <!-- item -->
        <div class="video-item">
          <div class="video-img">
            <iframe
              width="100%"
              height="300"
              src="https://www.youtube.com/embed/Gxv8LfNDex8"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
          <div class="video-title">
            <a href="#">CÁCH LÀM BÚN THỊT NƯỚNG</a>
          </div>
        </div>
        <!-- end of item -->
        <!-- item -->
        <div class="video-item">
          <div class="video-img">
            <iframe
              width="100%"
              height="300"
              src="https://www.youtube.com/embed/u1fpLRMzK4s"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
          <div class="video-title">
            <a href="#">CÁCH LÀM KHOAI TÂY BỎ LÒ SỐT PHÔ MAI</a>
          </div>
        </div>
        <!-- end of item -->
        <!-- item -->
        <div class="video-item">
          <div class="video-img">
            <iframe
              width="100%"
              height="300"
              src="https://www.youtube.com/embed/S6ECBp-YlFw"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
          <div class="video-title">
            <a href="#">CÁCH LÀM GỎI GÀ NGŨ SẮC</a>
          </div>
        </div>
        <!-- end of item -->
      </div>
    </div>
  </div>
  <!-- end of design -->

  <!-- blog -->
  <div class="blog" id="blog">
    <div class="container">
      <div class="title">
        <h2>Bài Viết Gần Đây</h2>
        <p>Nơi chia sẻ những món ăn ngon</p>
      </div>
      <div class="blog-content">
        <!-- item -->
        <div class="blog-item">
          <div class="blog-img">
            <img
              src="https://i2.wp.com/www.esheepkitchen.com/wp-content/uploads/2015/11/bulgogi-pizza1.jpg?resize=585%2C390&ssl=1"
              alt=""
            />
            <span><i class="far fa-heart"></i></span>
          </div>
          <div class="blog-text">
            <span>20 January, 2020</span>
            <h2>BULGOGI PIZZA (PIZZA VỊ THỊT BÒ NƯỚNG KIỂU HÀN QUỐC)</h2>
            <p>
              Đây là công thức pizza rất phù hợp để nướng chảo vì toàn bộ phần
              topping đã được làm chín sẵn. Pizza nướng chảo không hề khó, thậm
              chí còn rất dễ và ngon, có điều bạn cần chọn cho…
            </p>
            <a class="btn" href="#">Đọc thêm</a>
          </div>
        </div>
        <!-- end of item -->
        <!-- item -->
        <div class="blog-item">
          <div class="blog-img">
            <img
              src="https://i0.wp.com/www.esheepkitchen.com/wp-content/uploads/2019/03/pizza.jpg?resize=585%2C390&ssl=1"
              alt=""
            />
            <span><i class="far fa-heart"></i></span>
          </div>
          <div class="blog-text">
            <span>20 January, 2020</span>
            <h2>(GÓC REVIEW) PIZZA CHẢ CÁ</h2>
            <p>
              Ok, hôm qua mọi người đã được một phen náo loạn vì PIZZA MẮM TÔM
              mình up lên group Hội Ăn Gì rồi. Nên hôm nay, mình quyết định đi
              qua tiệm Pizza 4P’s ở Phan Kế Bính, HN –…
            </p>
            <a class="btn" href="#">Đọc thêm</a>
          </div>
        </div>
        <!-- end of item -->
        <!-- item -->
        <div class="blog-item">
          <div class="blog-img">
            <img
              src="https://i0.wp.com/www.esheepkitchen.com/wp-content/uploads/2022/02/273007077_490547795774228_7241834134580970544_n.jpg?resize=585%2C390&ssl=1"
              alt=""
            />
            <span><i class="far fa-heart"></i></span>
          </div>
          <div class="blog-text">
            <span>20 January, 2020</span>
            <h2>CÁCH LỌC XƯƠNG GÀ LUỘC CỰC DỄ</h2>
            <p>
              Chúc mừng năm mới!!!!! CÁCH LỌC XƯƠNG GÀ LUỘC CỰC DỄ Tết của bạn
              có vui không? Làm thế nào để xử lý cả núi thịt gà luộc, gà ủ muối
              hoa tiêu, gà hun khói ngon lành nhở? Thử lọc…
            </p>
            <a class="btn" href="#">Đọc thêm</a>
          </div>
        </div>
        <!-- end of item -->
        <!-- item -->
        <div class="blog-item">
          <div class="blog-img">
            <img
              src="https://i1.wp.com/www.esheepkitchen.com/wp-content/uploads/2021/08/51286796436_a26b85c301_k.jpg?resize=585%2C390&ssl=1"
              alt=""
            />
            <span><i class="far fa-heart"></i></span>
          </div>
          <div class="blog-text">
            <span>20 January, 2020</span>
            <h2>
              CÁCH LÀM TRÀ SỮA BÍ ĐAO THANH NHIỆT NGON ĐỈNH KAO DỰ SẼ HOT TREND
              HÈ NÀY
            </h2>
            <p>
              CÁCH LÀM TRÀ SỮA BÍ ĐAO THANH NHIỆT NGON ĐỈNH KAO DỰ SẼ HOT TREND
              HÈ NÀY /Topping trân châu 3Q đường đen + thạch đen sẽ là the best
              combo nhé/ Mê trà sữa, cần một thức uống mát…
            </p>
            <a class="btn" href="#">Đọc thêm</a>
          </div>
        </div>
        <!-- end of item -->
        <!-- item -->
        <div class="blog-item">
          <div class="blog-img">
            <img
              src="https://i1.wp.com/www.esheepkitchen.com/wp-content/uploads/2021/12/268270833_462300978598910_394347603357455895_n.jpg?resize=585%2C390&ssl=1"
              alt=""
            />
            <span><i class="far fa-heart"></i></span>
          </div>
          <div class="blog-text">
            <span>20 January, 2020</span>
            <h2>
              TIỆC TRÀ GIÁNG SINH TRẮNG LUNG LINH CHINH PHỤC CÁCH LÀM BÁNH
              MACARON-HOÀN-HẢO VỊ TRÀ BÁ TƯỚC
            </h2>
            <p>
              TIỆC TRÀ GIÁNG SINH TRẮNG LUNG LINH CHINH PHỤC CÁCH LÀM BÁNH
              MACARON-HOÀN-HẢO VỊ TRÀ BÁ TƯỚC Vị trà bá tước thực sự là vị bánh
              maracon thượng hạng và hoàn hảo để đón một Giáng sinh siêu lung
              linh…
            </p>
            <a class="btn" href="#">Đọc thêm</a>
          </div>
        </div>
        <!-- end of item -->
        <!-- item -->
        <div class="blog-item">
          <div class="blog-img">
            <img
              src="https://i1.wp.com/www.esheepkitchen.com/wp-content/uploads/2021/09/242296130_407064584122550_6841722089028900184_n.jpeg?resize=585%2C390&ssl=1"
              alt=""
            />
            <span><i class="far fa-heart"></i></span>
          </div>
          <div class="blog-text">
            <span>20 January, 2020</span>
            <h2>CÁCH LÀM “ROSÉ ROLL CAKE” – BÁNH CUỘN KEM PHOMAI BẰNG… CHẢO</h2>
            <p>
              CÁCH LÀM “ROSÉ ROLL CAKE” – BÁNH CUỘN KEM PHOMAI BẰNG… CHẢO Một ổ
              bánh cuộn hồng rực xinh xắn mềm mại với lớp kem phomai mát lịm
              thơm ngậy là món quà xinh xắn có khả năng chinh phục…
            </p>
            <a class="btn" href="#">Đọc thêm</a>
          </div>
        </div>
        <!-- end of item -->
      </div>
    </div>
  </div>
  <!-- end of blog -->

  <!-- about -->
  <div class="about" id="about">
    <div class="container">
      <div class="about-content">
        <div>
          <img src="/img/about-blog.jpg" alt="" />
        </div>
        <div class="about-text">
          <div class="title">
            <h2>Doreen Blog</h2>
            <p>Đem đến những trải nghiệm tốt nhất</p>
          </div>
          <p>
            Doreen sẽ luôn luôn lắng nghe những góp ý và chia sẻ từ khách hàng.
          </p>
          <p>
            Ghé thăm không gian cửa hàng: Khu phố 6, phường Linh Trung, TP. Thủ
            Đức, TP. Hồ Chí Minh
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
