<title> Doreen | Blog Post </title>
<link rel="canonical" href="https://seoie204.me/blog">
<meta name=”robots” content="noindex, nofollow">
<link rel="stylesheet" type="text/css" href="/css/blog_post.css" />
</head>
<%- layout('./layout/template') %>

    <body>
        <!-- ****** Single Blog Area Start ****** -->
        <section class="single_blog_area section_padding_80">
            <div class="grid wide container">
                <div class="row no-gutters">
                    <div class="col l-8 m-8 c-12">
                        <!-- Single Post -->
                        <div class="single-post ml-15 mr-15">
                            <!-- Post Thumb -->
                            <div class="post-thumb">
                                <img src="/img/p-2.jpg" alt="">
                            </div>
                            <!-- Post Content -->
                            <div class="post-content">
                                <div class="post-meta d-flex">
                                    <div class="post-author-date-area d-flex">
                                        <!-- Post Author -->
                                        <div class="post-author">
                                            <a href="#">By Marian</a>
                                        </div>
                                        <!-- Post Date -->
                                        <div class="post-date">
                                            <a href="#">May 19, 2017</a>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <h2 class="post-headline">CÁCH LÀM GÀ RÁN SỐT CAY
                                    </h2>
                                </a>
                                <p>Gà rán sốt cay là một trong những món ăn mà Doreen muốn giới thiệu đến các bạn nhất.
                                    Là một món gà mà khi ăn có thể cảm nhận được sự giòn tan kết hợp với nước sốt cay
                                    cay cùng một chút ngọt và bên trong không hề khô. Vậy làm thế nào để có thể làm được
                                    gà rán sốt cay, thì Doreen mời bạn cùng nhau vào bếp và chế biến món gà ngon tuyệt
                                    cực đơn giản này nhé!
                                    <br><br><strong>Nguyên liệu: </strong><br><br>
                                <ul>
                                    <li>Gà miếng ( có thể chọn cánh, đùi gà, lườn đều được)</li>
                                    <li>Bột chiên giòn</li>
                                    <li>Sữa</li>
                                    <li>Đường</li>
                                    <li>Mật ong</li>
                                    <li>Tương ớt ( Doreen khuyến khích sử dụng tương ớt Gochujang Hàn Quốc)</li>
                                    <li>Nước lọc</li>
                                    <li>Tỏi băm</li>
                                    <li>Mật ong</li>
                                    <li>Ớt bột</li>
                                    <li>Tiêu</li>
                                    <li>Muối</li>
                                    <li>Gừng</li>
                                </ul>
                                    <p><br><strong>Các bước chế biến:</strong><br><br></p>
                                <ul>
                                    <li><strong>Bước 1: </strong>Rửa sạch các miếng gà đã mua với gừng đập dập xoa đều lên phần thịt gà sau đó rửa lại với nước và để ráo.</li>
                                    <li><strong>Bước 2: </strong>Ướp thịt gà cùng với 1 muỗng cà phê muối và tiêu kết hợp với sữa. Ướp thịt trong vòng 30 phút. Sau khi ướp xong vớt thịt gà ra.</li>
                                    <li><strong>Bước 3: </strong>Pha bột chiên gà gồm khoảng 300gr bột chiên giòn them 500ml nước rồi khuấy đều.</li>
                                    <li><strong>Bước 4: </strong>Cho gà đã ướp xong ở bước 2 vào hỗn hợp ở bước 3 và để gà thấm đều. Sau đó, lăn gà lại với bột chiên giòn khô.</li>
                                    <li><strong>Bước 5: </strong>Bật bếp và để chảo lên. Cho dầu ăn với lượng vừa đủ ngập gà, đợi dầu sối thì lần lượt bỏ thịt gà vừa làm ở bước 4 vào chào chiên đều 2 mặt, đến khi gà chin đều 2 mặt thì ta vớt ra và cho ráo dầu.</li>
                                    <li><strong>Bước 6: </strong>Làm nước sốt gà cay. Cho vào chảo gồm tương ớt, tỏi băm, đường, bột ớt,, mật ong sao cho hợp với khẩu vị của bạn. Sau đó nấu cho đến khi hỗn hợp sôi thì tắt bếp.</li>
                                    <li><strong>Bước 7: </strong>Cho những miếng gà đã chiên vào chảo nước sốt đã làm, đảo đều cho đến khi thịt gà ngấm đều nước sốt, gắp ra đĩa. Vậy là đã hoàn thành món gà rán sốt cay thơm ngon rồi.</li>
                                </ul>
                                <br>
                                </p>

                                <h2>Hãy bấm Đặt hàng ngay để thưởng thức món ngon</h4>

                                    <!-- order Area -->
                                    <div class="order-area">
                                        <a href="/products" class="add-btn">Đặt hàng ngay</a>
                                    </div>
                            </div>
                        </div>



                    </div>

                    <!-- ****** Blog Sidebar ****** -->
                    <div class="col l-4 m-4 c-12">
                        <div class="blog-sidebar ml-15 mr-15">
                            <!-- Single Widget Area -->
                            <div class="single-widget-area about-me-widget text-center">
                                <div class="widget-title">
                                    <h6>Về chúng tôi</h6>
                                </div>
                                <div class="about-me-widget-thumb">
                                    <img src="/img/about-us.webp" alt="">
                                </div>
                                <h4 class="font-shadow-into-light">Doreen Shop</h4>
                                <p>Doreen sẽ luôn luôn lắng nghe những góp ý và chia sẻ từ khách hàng.</p>
                            </div>



                            <!-- Single Widget Area -->
                            <div class="single-widget-area popular-post-widget">
                                <div class="widget-title text-center">
                                    <h6>Bài viết phổ biến</h6>
                                </div>
                                <!-- Single Popular Post -->
                                <div class="single-populer-post d-flex">
                                    <img src="/img/blog_post1.jpg" alt="">
                                    <div class="post-content">
                                        <a href="#">
                                            <h6>Top Wineries To Visit In England</h6>
                                        </a>
                                        <p>Tuesday, October 3, 2017</p>
                                    </div>
                                </div>
                                <!-- Single Popular Post -->
                                <div class="single-populer-post d-flex">
                                    <img src="/img/blog_post2.jpg" alt="">
                                    <div class="post-content">
                                        <a href="#">
                                            <h6>The 8 Best Gastro Pubs In Bath</h6>
                                        </a>
                                        <p>Tuesday, October 3, 2017</p>
                                    </div>
                                </div>
                                <!-- Single Popular Post -->
                                <div class="single-populer-post d-flex">
                                    <img src="/img/blog_post3.jpg" alt="">
                                    <div class="post-content">
                                        <a href="#">
                                            <h6>Zermatt Unplugged the best festival</h6>
                                        </a>
                                        <p>Tuesday, October 3, 2017</p>
                                    </div>
                                </div>
                                <!-- Single Popular Post -->
                                <div class="single-populer-post d-flex">
                                    <img src="/img/blog_post4.jpg" alt="">
                                    <div class="post-content">
                                        <a href="#">
                                            <h6>Harrogate's Top 10 Independent Eats</h6>
                                        </a>
                                        <p>Tuesday, October 3, 2017</p>
                                    </div>
                                </div>
                                <!-- Single Popular Post -->
                                <div class="single-populer-post d-flex">
                                    <img src="/img/blog_post5.jpg" alt="">
                                    <div class="post-content">
                                        <a href="#">
                                            <h6>Eating Out On A Budget In Oxford</h6>
                                        </a>
                                        <p>Tuesday, October 3, 2017</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>