<title> Doreen | Blog Post </title>
<link rel="canonical" href="https://seoie204.me/blog">
<meta name=”robots” content="noindex, nofollow">
<link rel="stylesheet" type="text/css" href="/css/blog_post.css" />
</head>
<%- layout('./layout/template') %>

    <body>
        <!-- ****** Single Blog Area Start ****** -->
        <section class="single_blog_area section_padding_80">
            <div class="grid wide container">
                <div class="row no-gutters">
                    <div class="col l-8 m-8 c-12">
                        <!-- Single Post -->
                        <div class="single-post ml-15 mr-15">
                            <!-- Post Thumb -->
                            <div class="post-thumb">
                                <img src="/img/p-5.jpg" alt="">
                            </div>
                            <!-- Post Content -->
                            <div class="post-content">
                                <div class="post-meta d-flex">
                                    <div class="post-author-date-area d-flex">
                                        <!-- Post Author -->
                                        <div class="post-author">
                                            <a href="#">By Marian</a>
                                        </div>
                                        <!-- Post Date -->
                                        <div class="post-date">
                                            <a href="#">May 19, 2017</a>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <h2 class="post-headline">SODA BLUE OCEAN VỚI MÀU XANH TƯƠI MÁT GIẢI KHÁT CHO MUA HÈ OI BỨC</h2>
                                </a>
                                <p>
                                    Soda được bắt nguồn từ Mỹ vào thế kỉ 18 nhưng lại khá nổi tiếng ở Ý. Là loại nước khoáng có gas không cồn, gồm các thành phần chính như nước, hương liệu(syrup, nước trái cây,…). Ở Việt Nam còn được gọi là nước ngọt có gas.                                                                   
                                    <br><br>
                                    <strong>Công dụng của việc uống Soda:</strong>
                                    <br>
                                    <ul>
                                        <li>Là thức uống chứa nhiều chất tốt cho cơ thể như Kali, Magie, Canxi,…</li>
                                        <li>Hỗ trợ cho việc tiêu hóa.</li>
                                        <li>Đối với loại Soda không đường cũng có thể hỗ trợ tốt việc giảm cân, làm trắng răng và chăm sóc da mặt được tốt hơn.</li>
                                    </ul>
                                    <p>
                                        <br><strong>Soda Ocean Blue:</strong><br>
                                    Ở Doreen, Soda Ocean Blue là một thức uống không chỉ mang đến sự tươi mát mà có lẽ sẽ là một sự lựa chọn hoàn hảo cùng với màu xanh thanh mát như cái tên của nó. Vậy cách làm có đơn giản hay không ? Mời các bạn cùng Doreen khám phá nhé
                                    <br><br><strong>Nguyên liệu:</strong><br>
                                    </p>
                                    <ul>
                                        <li>Soda không đường</li>
                                        <li>Nước cốt chanh</li>
                                        <li>Húng lủi</li>
                                        <li>Siro chanh & mơ</li>
                                        <li>Curacao Syrup</li>
                                        <li>Nước đường</li>
                                        <li>Đá viên</li>
                                    </ul>
                                    <p><br><strong>Các bước chế biến: </strong><br></p>
                                    <ul>
                                        <li><strong>Pha hỗn hợp siro:</strong> Cho phần nước cốt chanh vào ly sau đó cho lần lượt 5ml siro chanh, 10ml siro mơ, 10ml curacao syrup, 10ml nước đường vào ly và khuấy đều.</li>
                                        <li><strong>Thành phẩm: </strong>Chuẩn bị ly sau đó cho đá viên vào đầy ly, đổ hỗn hợp siro đã pha vào ly sao đó cho từ từ nước Soda vào cho đến khi đầy ly. Cuối cùng có thể trang trí thêm một lát chanh và hung lủi lên trên là đã hoàn thành.</li>
                                    </ul>
                                    <br>
                                    <p>Khi uống các bạn khuấy đều và thưởng thức. Soda Ocean Blue là lựa chọn hoàn hảo khiến một ngày của bạn trở nên tươi mát và năng động hơn đặc biệt là với thời tiết nóng nực của mùa hè.</p>
                                    <br>
                                </p>

                                <h2>Hãy bấm Đặt hàng ngay để thưởng thức món ngon</h4>

                                    <!-- order Area -->
                                    <div class="order-area">
                                        <a href="/products" class="add-btn">Đặt hàng ngay</a>
                                    </div>
                            </div>
                        </div>



                    </div>

                    <!-- ****** Blog Sidebar ****** -->
                    <div class="col l-4 m-4 c-12">
                        <div class="blog-sidebar ml-15 mr-15">
                            <!-- Single Widget Area -->
                            <div class="single-widget-area about-me-widget text-center">
                                <div class="widget-title">
                                    <h6>Về chúng tôi</h6>
                                </div>
                                <div class="about-me-widget-thumb">
                                    <img src="/img/about-us.webp" alt="">
                                </div>
                                <h4 class="font-shadow-into-light">Doreen Shop</h4>
                                <p>Doreen sẽ luôn luôn lắng nghe những góp ý và chia sẻ từ khách hàng.</p>
                            </div>



                            <!-- Single Widget Area -->
                            <div class="single-widget-area popular-post-widget">
                                <div class="widget-title text-center">
                                    <h6>Bài viết phổ biến</h6>
                                </div>
                                <!-- Single Popular Post -->
                                <div class="single-populer-post d-flex">
                                    <img src="/img/blog_post1.jpg" alt="">
                                    <div class="post-content">
                                        <a href="#">
                                            <h6>Top Wineries To Visit In England</h6>
                                        </a>
                                        <p>Tuesday, October 3, 2017</p>
                                    </div>
                                </div>
                                <!-- Single Popular Post -->
                                <div class="single-populer-post d-flex">
                                    <img src="/img/blog_post2.jpg" alt="">
                                    <div class="post-content">
                                        <a href="#">
                                            <h6>The 8 Best Gastro Pubs In Bath</h6>
                                        </a>
                                        <p>Tuesday, October 3, 2017</p>
                                    </div>
                                </div>
                                <!-- Single Popular Post -->
                                <div class="single-populer-post d-flex">
                                    <img src="/img/blog_post3.jpg" alt="">
                                    <div class="post-content">
                                        <a href="#">
                                            <h6>Zermatt Unplugged the best festival</h6>
                                        </a>
                                        <p>Tuesday, October 3, 2017</p>
                                    </div>
                                </div>
                                <!-- Single Popular Post -->
                                <div class="single-populer-post d-flex">
                                    <img src="/img/blog_post4.jpg" alt="">
                                    <div class="post-content">
                                        <a href="#">
                                            <h6>Harrogate's Top 10 Independent Eats</h6>
                                        </a>
                                        <p>Tuesday, October 3, 2017</p>
                                    </div>
                                </div>
                                <!-- Single Popular Post -->
                                <div class="single-populer-post d-flex">
                                    <img src="/img/blog_post5.jpg" alt="">
                                    <div class="post-content">
                                        <a href="#">
                                            <h6>Eating Out On A Budget In Oxford</h6>
                                        </a>
                                        <p>Tuesday, October 3, 2017</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>